<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eagle</title>
</head>

<body>
    <header>
        <div class="logo-search">
            <div class="logo">
                <a href="#">BrightEvents</a>
            </div>
            <div class="search">
                <i class="fas search search-icon"></i>
                <input type="search" name="search events" placeholder="Search events" class="search-bar" />
            </div>
        </div>
        <nav class="top-links">
            <div class="organize">
                <p>Organize</p>
                <a>
                    <i class="fas caret-down"></i>
                </a>
            </div>
            <div class="create-event">
                <p>Create Event</p>
                <a>
                    <i class="fas caret-down"></i>
                </a>
            </div>
            <div class="mobile-menu"></div>
            <div class="sign-in">
                <p>
                    Sign
                    <span>In</span>
                </p>
            </div>
        </nav>
    </header>
</body>

</html>
