* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 0.1px solid black;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
a {
    text-decoration: none;
    :hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 425px) {
    html,
    body {
        overflow-x: hidden;
    }
    body {
        position: relative;
    }
}
